body{
	background-color:  #000000;
	color:  #FFFFFF;
	font-family:  Verdana, "Times New Roman" ;
	margin-top: 25px;
	margin-right: 25px;
	margin-left: 25px;
}

h1{
	font-size: 48px;
	text-align: center;
	padding: 15px;
}

h2{
	font-size: 32px;
	text-shadow: 2px 4px #808080;
}

p{
	font-size: 24px;
	padding-left: 15px;
	padding-bottom: 15px;
}

img{
	width: 350px;
	border: 10px dashed #FFFFFF;
	display: block;
	margin-left:  auto;
	margin-right: auto;
}

div{
	min-height: 100px;
	padding: 20px;
	/*border: 3px solid #FFFFFF;   */
}

div.intro{
	border: solid #FFFFFF;
	border-radius: 15px;
	margin-top: 15px;
}

div.red{
	background-color: #ff0000;
	text-align: right;
	margin-left: 50px;
	border-bottom: 3px solid #FFFFFF;
	border-left: 10px solid #FFFFFF;
	
}

div.blue{
	background-color: #0000FF;
	text-align: left;
	margin-right: 50px;
	border-right: 10px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
}

div.yellow{
	background-color: #FFFF00;
	text-align: right;
	margin-left: 50px;
	border-bottom: 3px solid #FFFFFF;
	border-left: 10px solid #FFFFFF;
}

div.yellow p, div.yellow h2{
	color: #000000;
}

div.yellow h2{
	text-shadow: 2px 4px #c7e2c7;
}

div.green{
	background-color: #008500;
	text-align: left;
	margin-right: 50px;
	border-right: 10px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
}

span{
	text-decoration: underline;
	text-transform: uppercase;
	text-shadow: none;

}

footer{
	background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
}

footer p{
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: none;
}









